
# Usage Examples: `load_csv` Function

This notebook demonstrates how to use the `load_csv` function defined in the `ThreeWToolkit.data_loader` module.

The function allows for loading CSV files with column selection and optional date parsing.

In [1]:
from tempfile import NamedTemporaryFile
from ThreeWToolkit.data_loader import load_csv

### Example 1: Basic CSV loading with date column parsing

In [2]:
with NamedTemporaryFile(mode="w+", delete=False, suffix=".csv") as tmp:
    tmp.write(
        "date,value,signal1,signal2\n \
              2024-01-01,100,400,500\n \
              2024-01-02,200,600,500"
    )
    tmp.flush()
    tmp_path = tmp.name

df = load_csv(
    file_path=tmp_path,
    column_names=["date", "value", "signal1", "signal2"],
    date_column=["date"],
    parse_dates=True,
)

df.head()

        date  value  signal1  signal2
0 2024-01-01    100      400      500
1 2024-01-02    200      600      500

### Example 2: Basic CSV loading with specific column selection and date column parsing

In [ ]:
with NamedTemporaryFile(mode="w+", delete=False, suffix=".csv") as tmp:
    tmp.write(
        "date,value,signal1,signal2\n \
              2024-01-01,100,400,500\n \
              2024-01-02,200,600,500"
    )
    tmp.flush()
    tmp_path = tmp.name

df = load_csv(
    file_path=tmp_path,
    column_names=["date", "signal1"],
    date_column=["date"],
    parse_dates=True,
)

df.head()

        date  signal1
0 2024-01-01      400
1 2024-01-02      600

### Example 3: Basic CSV loading without date column parsing

In [4]:
with NamedTemporaryFile(mode="w+", delete=False, suffix=".csv") as tmp:
    tmp.write(
        "date,value,signal1,signal2\n \
              2024-01-01,100,400,500\n \
              2024-01-02,200,600,500"
    )
    tmp.flush()
    tmp_path = tmp.name

df = load_csv(
    file_path=tmp_path,
    column_names=["date", "value", "signal1", "signal2"],
    date_column=["date"],
    parse_dates=False,
)

df.head()

                        date  value  signal1  signal2
0                 2024-01-01    100      400      500
1                 2024-01-02    200      600      500

### Example 4: Error handling - Input validation with non-existent file

In [ ]:
try:
    df = load_csv(
        file_path="non_existent.csv",
        column_names=["date", "value"],
        date_column=["date"],
        parse_dates=True,
    )
except FileNotFoundError as e:
    print("Expected error:", e)

Expected error: The file 'non_existent.csv' does not exist.

### Example 5: Error handling - Input validation with column name error

In [6]:
try:
    df = load_csv(
        file_path=tmp_path,
        column_names="not a list",
        date_column=["date"],
        parse_dates=True,
    )
except ValueError as e:
    print("Expected error:", e)

Expected error: `column_names` must be a list of strings.

### Example 6: Error handling - Input validation with date column error

In [ ]:
try:
    df = load_csv(
        file_path=tmp_path,
        column_names=["date", "value"],
        date_column="not a list",
        parse_dates=True,
    )
except ValueError as e:
    print("Expected error:", e)

Expected error: `date_column` must be a list of strings.